//////////////// color ////////
$primaryColor: #2A2A2A;
$brandColor: #FF0000;
$borderColor: #EEEEEE;
$bodyColor: #FFFFFF;
$textColor: #7a7a7a;
$bg-gray:#F8F8F8;

///////// fonts ///////////////
$primaryFont: 'azo-sans-web', sans-serif;

///// Media
$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 576px;